@font-face {
  font-family: 'The Seasons';
  src: url('/fonts/the-seasons.woff2') format('woff2'),
       url('/fonts/the-seasons.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.font-seasons {
  font-family: 'The Seasons', serif;
} 